.auth-profile {
    font-size: 14px;
    height: 60px;
}

.welcome-profile {
    padding-right: 10px;
}

.icon-profile {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    margin-right: 10px;
}
 